body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: ghostwhite;
}

.navbar .nav>li>a {
    font-size: 1.25em;
}

.navbar-btn {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.navbar-text {
    color: white !important;
    font-size: 1.25em;
}

.page-header {
    background: white;
    padding: 0.5em 1em;
    margin: 1em 0;
}

.page-header > button {
    position: relative;
    right: -35em;
}

.panel-body {
    padding-top: 0.5em;
}


/*
.btn {
    padding: 0.625em 1.25em;
}*/

.post {}

.post:hover {
    background-color: whitesmoke;
}

.post > .voting {
    display: inline-block;
    font-size: 1.5em;
}

.comment {
    padding: 0 1em;
}

.comment > .voting {
    display: inline-block;
    font-size: 1em;
    line-height: 1.5em;
}

.post-text {
    vertical-align: top;
    position: relative;
    display: inline-block;
}

@media screen and (max-width: 1046px) {
    .post-text {
        max-width: 570px;
        background: skyblue;
    }
}

.post-text > p > a:hover {
    text-decoration: none !important;
}

.comment-text {
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 4em;
}

.upvote:hover {
    color: #93C54B;
}

.voteCount {
    margin-left: 5px;
}

.downvote:hover {
    color: #D9534F;
}