body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-btn {
    margin-right: 0.5em;
    margin-left: 0.5em;
}


/*
.btn {
    padding: 0.625em 1.25em;
}*/

.post {}

.post:hover {
    background-color: whitesmoke;
}

.post > .voting {
    display: inline-block;
    font-size: 1.5em;
}

.comment > .voting {
    display: inline-block;
    font-size: 1em;
    line-height: 1.5em;
}

.post-text {
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.post-text > p > a:hover {
    text-decoration: none !important;
}

.comment-text {
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 4em;
}

.upvote:hover {
    color: #93C54B;
}

.voteCount {
    margin-left: 5px;
}

.downvote:hover {
    color: #D9534F;
}
